@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{
    --vinho: #8E2424;
    --cinza: #667085;

    --fonte-primaria: 'Inter', sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5rem;
}

.cabecalho__navbar{
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 50%;
}

.cabecalho__botoes{
    display: flex;
    gap: 0.75rem;
}

.cabecalho__navbar__links{
    color: #667085;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
}

button{
    border: none;
    background: none;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    padding: 0.625rem 1.125rem;
    color: var(--cinza);
}

button#cabecalho__botoes__cadastro{
    color: #ffffff;
    background-color: var(--vinho);
    border-radius: 0.5rem;
}

.conteudo__sobre{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
    padding: 6rem 0;
}

.conteudo__sobre__secao{
    font-family: var(--fonte-primaria);
    font-weight: 600;
    color: var(--vinho);
}

.conteudo__sobre__titulo{
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 36px;
}

.conteudo__sobre__texto{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 20px;
    color: var(--cinza);
}

.conteudo__metricas{
    display: flex;
    padding: 0 6.5rem;
    gap: 2rem;
    justify-content: center;
}

.conteudo__metricas__div{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.conteudo__metricas__numero{
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 60px;
    color: #8E2424;
    margin-bottom: 0.5rem;
}

.conteudo__metricas__titulo{
    font-family: var(--fonte-primaria);
    font-weight: 500;
    font-size: 18px;
}

.conteudo__metricas__texto{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color: var(--cinza);
    font-size: 1rem;
    padding: 0 3.125rem 0 0;
}